.header {
  width: 100%;
  min-width: 1400px;
  padding: {
    top: 41px;
    bottom: 11px;
  }
}

.header__wrapper {
  @extend %container;
  display: flex;
  justify-content: space-between;
}

.header__main-nav {
  margin-top: 15px;
}
