@mixin font-face($family, $weightName, $weight: normal, $style: normal) {
  $fontName: str-insert($family, " " + $weightName, 100);
  $fontNameSecond: str-insert($family, "-" + $weightName, 100);

  @font-face {
    font: {
      family: $family;
      weight: $weight;
      style: $style;
      display: swap;
    }
    src: local($fontName),
         local($fontNameSecond),
         url("../fonts/#{to-lower-case($fontNameSecond)}.woff2") format("woff2"),
         url("../fonts/#{to-lower-case($fontNameSecond)}.woff") format("woff");
  }
}
