$colorWhite: #ffffff;
$colorWhiteDark: #fefefe;
$colorBlack: #000000;
$colorBlackLight: #2a2a2a;

$colorText: #040405;
$colorTextLight: #323232;
$colorPlaceholder: #d8d8d8;

$colorPrimary: #62497c;
$colorSecondary: #ffe26d;

$colorGray: #efefef;
$colorGrayDark: #ececec;
$colorGrayXDark: #e4e4e4;
$colorGrayXXDark: #bdbdbd;

$colorShadow: #161617;
$colorSeparator: #d0d0d0;

$fontWeightThin: 100;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$fontSizeTextSmall: 10.32px;
$fontSizeText: 13.26px;
$fontSizeTextLarge: 19.16px;
$fontSizeTextXLarge: 29.47px;

$fontSizeTitleSmall: 14.74px;
$fontSizeTitle: 40.69px;
$fontSizeTitleLarge: 44.21px;

$lineHeightTiny: 6.9px;
$lineHeightSmall: 22.1px;
$lineHeightRegular: 23.58px;
$lineHeightLarge: 40.52px;

$fontFamilyText: "Helvetica", sans-serif;
$fontFamilyTextAlt: "Roboto", "Arial", sans-serif;
$fontFamilyTitle: "Montserrat", "Arial", sans-serif;
